doctype html
html
  head
    include include/head.jade
    script(src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript")
    script(src="js/map.js")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade
        
    div.wrapper
        section.contacts
            .content
                .floating-content
            
                    .contacts__tables
                        .contacts__tables__item
                            img(src="img/logo1.jpg")
                
                        .contacts__tables__item
                            span.contacts__tables__item_title Департамент инвестиционного развития Смоленской области
                        
                            span.contacts__tables__item_addres <b>Адрес:</b> 214025, г. Смоленск, ул. Полтавская, 8 А
                        
                            span.contacts__tables__item_addres <b>Телефон:</b> (4812) 20-55-20; факс: (4812) 20-55-39
                        
                            span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:invest@admin-smolensk.ru">invest@admin-smolensk.ru</a> <a href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                            span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="http://dep.smolinvest.com">dep.smolinvest.com</a>
                            .button-block
                                a.button ОБРАТНАЯ СВЯЗЬ

                        
            
                    .contacts__tables
                        .contacts__tables__item
                            img(src="img/logo2.jpg")
                
                        .contacts__tables__item
                            span.contacts__tables__item_title ООО «Корпорация инвестиционного развития Смоленской области»
                        
                            span.contacts__tables__item_addres <b>Адрес:</b> г. Смоленск, ул. Полтавская, 8а
                        
                            span.contacts__tables__item_addres <b>Телефон:</b> +7(4812) 77-00-22
                        
                            span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:smolregion67@yandex.ru">smolregion67@yandex.ru</a> <a    href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                            span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="corp.smolinvest.com">corp.smolinvest.com</a>
                            .button-block
                                a.button ОБРАТНАЯ СВЯЗЬ
                                
                    .contacts__map-block
                        .contacts__map-block_map#mapy
                        
                    
                    
                    
                    .contacts__tables.contacts__g-cont-table
                        .contacts__tables__item
                            img(src="img/g-ava1.jpg")
                
                        .contacts__tables__item
                            span.contacts__tables__item_name Островский Алексей Владимирович
                            span.desc Губернатор Смоленской области
                        
                            span.contacts__tables__item_addres <b>Адрес:</b> 214025, г. Смоленск, ул. Полтавская, 8 А
                        
                            span.contacts__tables__item_addres <b>Телефон:</b> (4812) 20-55-20; факс: (4812) 20-55-39
                        
                            span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:invest@admin-smolensk.ru">invest@admin-smolensk.ru</a> <a href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                            span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="http://dep.smolinvest.com">dep.smolinvest.com</a>
                            .button-block
                                a.button написать
                                
                    .contacts__tables.contacts__l-cards
                    
                    
                    
                    
                        .contacts__tables__item.contacts__l-cards_item
                            .contacts__l-cards_title Департамент инвестиционного развития Смоленской области
                            .contacts__l-cards_item_body
                                .contacts__l-cards_face
                                    img(src="img/ava_g.jpg")
                                    .button-block
                                        a.button написать
                                    
                                .contacts__l-cards_info-c
                                    span.contacts__tables__item_name Островский Алексей Владимирович
                            
                                    span.desc Заместитель Губернатора – начальник Департамента инвестиционного развития
                        
                                    span.contacts__tables__item_addres <b>Адрес:</b> 214025, г. Смоленск, ул. Полтавская, 8 А
                        
                                    span.contacts__tables__item_addres <b>Телефон:</b> (4812) 20-55-20
                                    span.contacts__tables__item_addres <b>Факс:</b> (4812) 20-55-39
                        
                                    span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:invest@admin-smolensk.ru">invest@admin-smolensk.ru</a> <a    href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                                    span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="http://dep.smolinvest.com">dep.smolinvest.com</a>
                                                    
                    
                        .contacts__tables__item.contacts__l-cards_item
                            .contacts__l-cards_title Департамент Смоленской области по сельскому хозяйству и продовольствию
                            .contacts__l-cards_item_body
                                .contacts__l-cards_face
                                    img(src="img/ava_g.jpg")
                                    .button-block
                                        a.button написать
                                    
                                .contacts__l-cards_info-c
                                    span.contacts__tables__item_name Островский Алексей Владимирович
                            
                                    span.desc Заместитель Губернатора – начальник Департамента инвестиционного развития
                        
                                    span.contacts__tables__item_addres <b>Адрес:</b> 214025, г. Смоленск, ул. Полтавская, 8 А
                        
                                    span.contacts__tables__item_addres <b>Телефон:</b> (4812) 20-55-20
                        
                                    span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:invest@admin-smolensk.ru">invest@admin-smolensk.ru</a> <a    href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                                    span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="http://dep.smolinvest.com">dep.smolinvest.com</a>
                                
                                            
                        .contacts__tables__item.contacts__l-cards_item
                            .contacts__l-cards_title ООО «Корпорация инвестиционного развития Смоленской области»
                            .contacts__l-cards_item_body
                                .contacts__l-cards_face
                                    img(src="img/ava_g.jpg")
                                    .button-block
                                        a.button написать
                                    
                                .contacts__l-cards_info-c
                                    span.contacts__tables__item_name Островский Алексей Владимирович
                            
                                    span.desc Заместитель Губернатора – начальник Департамента инвестиционного развития
                        
                                    span.contacts__tables__item_addres <b>Адрес:</b> 214025, г. Смоленск, ул. Полтавская, 8 А
                        
                                    span.contacts__tables__item_addres <b>Телефон:</b> (4812) 20-55-20
                        
                                    span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:invest@admin-smolensk.ru">invest@admin-smolensk.ru</a> <a    href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                                    span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="http://dep.smolinvest.com">dep.smolinvest.com</a>
                                
                                                        
                                            
                        .contacts__tables__item.contacts__l-cards_item
                            .contacts__l-cards_title ООО «Корпорация инвестиционного развития Смоленской области»
                            .contacts__l-cards_item_body
                                .contacts__l-cards_face
                                    img(src="img/ava_g.jpg")
                                    .button-block
                                        a.button написать
                                    
                                .contacts__l-cards_info-c
                                    span.contacts__tables__item_name Островский Алексей Владимирович
                            
                                    span.desc Заместитель Губернатора – начальник Департамента инвестиционного развития
                        
                                    span.contacts__tables__item_addres <b>Адрес:</b> 214025, г. Смоленск, ул. Полтавская, 8 А
                        
                                    span.contacts__tables__item_addres <b>Телефон:</b> (4812) 20-55-20
                        
                                    span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:invest@admin-smolensk.ru">invest@admin-smolensk.ru</a> <a    href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                                    span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="http://dep.smolinvest.com">dep.smolinvest.com</a>
                                
                                                        
                                            
                        .contacts__tables__item.contacts__l-cards_item
                            .contacts__l-cards_title ООО «Корпорация инвестиционного развития Смоленской области»
                            .contacts__l-cards_item_body
                                .contacts__l-cards_face
                                    img(src="img/ava_g.jpg")
                                    .button-block
                                        a.button написать
                                    
                                .contacts__l-cards_info-c
                                    span.contacts__tables__item_name Островский Алексей Владимирович
                            
                                    span.desc Заместитель Губернатора – начальник Департамента инвестиционного развития
                        
                                    span.contacts__tables__item_addres <b>Адрес:</b> 214025, г. Смоленск, ул. Полтавская, 8 А
                        
                                    span.contacts__tables__item_addres <b>Телефон:</b> (4812) 20-55-20
                        
                                    span.contacts__tables__item_addres <b>E-mail: </b> <a href="mailto:invest@admin-smolensk.ru">invest@admin-smolensk.ru</a> <a    href="mailto:dep@smolinvest.com">dep@smolinvest.com</a>

                                            
                                    span.contacts__tables__item_addres <b>Сайт: </b> <a target="_blank" href="http://dep.smolinvest.com">dep.smolinvest.com</a>
                                
                        
                        
                    

                        

                                
                                

                        
        include include/footer.jade
        include include/feedback_popup.jade
        script( src="js/jquery.equalheights.js")
        script $('.contacts__l-cards_item').equalHeights();