doctype html
html
  head
    include include/head.jade
    script(src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript")
    script(src="js/map.js")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade
        
    div.wrapper
        section.contacts
            .content
                .floating-content
                    .contacts__tables
                        .floating-content_txt
                            h1 Инвестиционная стратегия Смоленской области в 2016 году
                            .desc В настоящее время, в целях обеспечения благоприятного инвестиционного климата в Смоленской области разработана и утверждена Распоряжением Администрации Смоленской области от 15.12.2014 № 1753 р-адм Инвестиционная стратегия Смоленской области.
                            
                    .contacts__tables.contacts__g-cont-table
                        .contacts__tables__item.contacts__tables__item_ava
                            img(src="img/g-ava1.jpg")
                
                        .contacts__tables__item.contacts__tables__item_desc
                            span.contacts__tables__item_name ЕЖЕГОДНОЕ ПОСЛАНИЕ ГУБЕРНАТОРА СМОЛЕНСКОЙ ОБЛАСТИ А.В. ОСТРОВСКОГО
                            span.desc.desc_max «Инвестиционный климат и инвестиционная политика смоленской области»,представленное 26.05.2016 г. на очередном 31 заседании смоленской областной думы V созыва.
                            
                        .contacts__tables__item.contacts__tables__item_doc
                            .contacts__tables__item_load
                                i
                                a скачать документ
                                
                                
                    .contacts__tables
                        .contacts__tables__fl-articles
                    
                            article
                                h3 Система мер государственной поддержки
                                p Для крупных организаций основной формой господдержки остается предоставление налоговых льгот. Также этой формой поддержки могут   воспользоваться субъекты малого и среднего предпринимательства.
                                                 
                            article
                                h3 Поддержка малого и среднего предпринимательства
                                p Общий объем средств, направленный на поддержку субъектов малого и среднего предпринимательства, в 2015 году составил 295 млн. рублей и вырос  по сравнению с 2014 годом почти на 5%.
                                                                             
                            article
                                h3 Инвестиционные проекты 2015 года
                                p В 2015 году на территории Смоленской области осуществлялась реализация более 20 социально-значимых инвестиционных проектов с общим объемом    инвестиций (за весь период реализации) около 58 млрд. рублей и социальным эффектом более 9 000 новых рабочих мест.
                                                                                  
                            article
                                h3 Государственно-частное партнерство
                                p Удалось сократить срок получения разрешения на строительство с 215 дней до 128, а количество процедур при получении разрешения - с 14 до 11.  Срок подключения к электроэнергии сокращен  со 160 до 93 дней, а количество процедурпо подключению – с 10 до 8.
                                                                                              
                            article
                                h3 Кластерная политика
                                p По результатам  обращений предпринимательского сообщества, для повышения конкурентоспособности предприятий, принято решение в 2016 году   создать Центр кластерного развития (далее – ЦКР).
                                                                                                        
                            article
                                h3 Национальный рейтинг
                                p Удалось сократить срок получения разрешения на строительство с 215 дней до 128, а количество процедур при получении разрешения - с 14 до 11.  Срок подключения к электроэнергии сокращен  со 160 до 93 дней, а количество процедурпо подключению – с 10 до 8.
                                                                                                                      
                            article
                                h3 Поддержка инновационной деятельности
                                p В прошедшем периоде 2015 года доведена информация до субъектов малого и среднего предпринимательства, осуществляющих деятельность в сфере     инноваций, о проведении 2-го и 3-го этапов конкурса «Коммерциализация».
                                                                                                                       
                            article
                                h3 Защита прав предпринимателей в Смоленской области
                                p В рамках данных встреч происходит обмен практиками в отношении защиты бизнеса, а также обсуждаются вопросы по созданию комфортных условий     взаимодействия бизнеса и органов государственной власти.
                                                                                 
                            article
                                h3 Инвестиции в цифрах
                                p Доля инвестиций в основной капитал в общем объеме ВРП по Смоленской области в 2015 году,  по оценке, составит около 22%
                    
                    
                            .contacts__pdf-display
                                .contacts__pdf-display_item
                                    .middle
                                        .title Документы, относящиеся <br> к инвестиционной стратегии <span class="green">2016 года<span>
                                        
                                .contacts__pdf-display_item_two
                                    .contacts__pdf-display_item_docs
                                    
                                        .item_doc
                                            i
                                            .desc Исследование инвестиционного климата Смоленской области
                                                a(href="#") скачать документ
                                             
                                        .item_doc
                                            i
                                            .desc Исследование инвестиционного климата Смоленской области
                                                a(href="#") скачать документ
                                             
                                        .item_doc
                                            i
                                            .desc Исследование инвестиционного климата Смоленской области
                                                a(href="#") скачать документ
                            
                                
                    

                        

                                
                                

                        
        include include/footer.jade
        script( src="js/jquery.equalheights.js")
        script $('.contacts__tables article').equalHeights();