doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--section
            .content
                include include/in-filtr.jade
                .right--block
                    .right--block__search-block
                        .search-body 
                            .right--block__inp-search
                                input(placeholder="Поиск известной площадки")
                                i
                            
                        .right--block__article
                            h3 АЗС Автомобильная газозаправочная станция
                            span.desc Площадь: 1283 Га.
                            img(src="img/plaz-vel.jpg")
                            .adr
                                span Смоленская область, Смоленский район,дер.Звеньково,412 км. а\д м-1 <br> Москва-Минск.
                                i 
                            .nvs_item <i class="man"></i> Владелец площадки: <b>ООО  Экстр</b>
                            .nvs_item <i class="doc"></i> Условия приобретения: <b>Покупка</b>
                            .button-block
                                a.button подробно
                                            
                        .right--block__article
                            h3 АЗС Автомобильная газозаправочная станция
                            span.desc Площадь: 1283 Га.
                            img(src="img/plaz-vel.jpg")
                            .adr
                                span Смоленская область, Смоленский район,дер.Звеньково,412 км. а\д м-1 <br> Москва-Минск.
                                i 
                            .nvs_item <i class="man"></i> Владелец площадки: <b>ООО  Экстр</b>
                            .nvs_item <i class="doc"></i> Условия приобретения: <b>Покупка</b>
                            .button-block
                                a.button подробно
                                            
                        .right--block__article
                            h3 АЗС Автомобильная газозаправочная станция
                            span.desc Площадь: 1283 Га.
                            img(src="img/plaz-vel.jpg")
                            .adr
                                span Смоленская область, Смоленский район,дер.Звеньково,412 км. а\д м-1 <br> Москва-Минск.
                                i 
                            .nvs_item <i class="man"></i> Владелец площадки: <b>ООО  Экстр</b>
                            .nvs_item <i class="doc"></i> Условия приобретения: <b>Покупка</b>
                            .button-block
                                a.button подробно
                        
                    
                        
        include include/footer.jade
        script(src="js/jquery-1.7.2.min.js")
        script(type="text/javascript" src="js/jquery-ui-1.8.19.custom.min.js")
        script(type="text/javascript" src="js/prog-1.js")
        
                    
