doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/industrial.jpg)")
            .content
                .middle
                    h1 Индустриальные парки
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block10.jpg)")
                        .middle
                            h2 Индустриальные парки
                    article
                        p На территории Смоленской области реализуется крупный инвестиционный проект – создание и развитие двух государственных индустриальных парков «Феникс» и «Сафоново». 
                        p Закончить строительство инженерной инфраструктуры индустриального парка «Феникс» планируется в 3 квартале 2017 года, а индустриального парка «Сафоново» – в 3 квартале 2018 года.
                        p В 2015 году были завершены в полном объеме работы 1 этапа строительства инфраструктуры двух  индустриальных парков. В результате проведения подготовительных работ освобождены территории парков от лесонасаждений; выполнены работы по электроснабжению строительных площадок;  работы по строительству автодорог; проложены газопроводы высокого давления. В индустриальном парке «Феникс» выполнены работы по строительству высоковольтной линии электропередач. В индустриальном парке «Сафоново» проложены наружные и внутриплощадочные сети канализации; сети водоснабжения и водоотведения.
                        p В 2016 году Смоленская область вновь принимала участие в конкурсном отборе Минэкономразвития России на предоставление субсидии из федерального бюджета на создание инфраструктуры индустриальных  парков. По итогам конкурсного отбора Смоленской области на строительство индустриальных парков из средств федерального бюджета  всего было выделено 100 млн. рублей, а из бюджета Смоленской области - 16 млн. рублей. 
                        p В 2016 году в индустриальном парке «Феникс» будет продолжено строительство автодороги  протяженностью 515 метров до примыкания к уже существующей бетонной дороге. Планируется начать строительство основной трансформаторной подстанции ПС 110/10 кВ для электроснабжения резидентов индустриального парка «Феникс». 
                        p В индустриальном парке «Сафоново» в 2016 году предусмотрено строительство внутриплощадочного водопровода и канализации, газопровода, очистных сооружений и дороги парка протяженностью – 4,7 км.
                        
                        p <img src="img/fenix.jpg">
                        h3 Индустриальный парк «Феникс» 
                        p Индустриальный парк «Феникс» расположен в северной части города Смоленска (близ гипермаркета Metro) на площади 54,9 га, полезная площадь составляет 31,8 га. Парк предназначен для размещения предприятий IV-V классов опасности, занимающихся металло- и деревообработкой, приборостроением, производством металлопластиковых изделий, детских товаров, малые предприятия по производству мебели и др.
                        
                        p <img src="img/safon.jpg">
                        h3 Индустриальный парк «Феникс» 
                        p Индустриальный парк Сафоново - это производственная площадка расположенная на расстоянии 290 км от Москвы по Федеральной трассе М1, специализирующаяся на создании современных производств крупногабаритных изделий из композитов по приоритетным направлениям - производство танк-контейнеров, ветрогенераторов мощностью 1-2 МВт., дымовых труб, кислотостойких емкостей, малотоннажной химии.
                    
                                                                                                         
                         
             
        include include/footer.jade
                    


                        