doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/industrial.jpg)")
            .content
                .middle
                    h1 Индустриальный парк Феникс
                    a.button-preza скачать перезтацию
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block10.jpg)")
                        .middle
                            h2 Индустриальный парк Феникс
                    article
                        p <b>Инициатор проекта:</b> Администрация Смоленской области.<br> <b>Назначение проекта:</b> размещение предприятий различной отраслевой направленности.<br> <b>Расположение:</b> северная часть города Смоленская, Смоленская область.<br> <b>Категория земель:</b> земли промышленности и земли населенных пунктов.<br> <b>Присвоение статуса «Индустриальный парк»</b> - 5 ноября 2015 года.<br> <b>Начало строительства индустриального парка</b> - 3 квартал 2015 года.<br> <b>Размещение первых резидентов</b> – 4 квартал 2016 года.<br> <b>Общая площадь индустриального парка</b> – 55 га.<br> <b>Представлено инвесторам</b> – 32 га.<br> <b>Выделено под коридоры коммуникаций</b> – 23 га.<br> 
                        p <b>6 км</b> до центра г. Смоленска <br><b>370 км до Москвы <br><b>4 км</b> — трасса М-1 «Беларусь» <br><b>12 км</b> — аэропорт «Смоленск-Южный» <br><b>6 км</b> — от ж/д станции «г. Смоленск» 
                        h3 Логистическая инфраструктура
                        p Область обладает уникальным географическим положением.
                        p Через регион проходят: транспортные коридоры Восток-Запад (кратчайший путь из Европы в Россию) и Север-Юг, включающие железнодорожные и автомагистрали. Через Смоленскую область проходит 75% грузов, поступающих из Европы в Россию.
                        p Приграничное расположение с Республикой Беларусь и наличие  таможенно-логистического комплекса с наличием акцизного терминала и возможностью оформления товаров, подлежащи
                        p фитосанитарному и ветеринарному контролю.
                        p Автомагистраль Китай-Казахстан-Беларусь-Европа. 
                        h3 Инженерные мощности на период строительства:
                        p Мощность электроэнергии сети напряжением 6 кВт 0,35 мВт <br>Мощность по газу 1 180 м3/час <br>Водоснабжение 183,91 м3/час <br>Водоотведение хозяйственно-бытовое 183,91 м3/час  <br>После ввода объектов в эксплуатацию Парк будет обладать:   <br>Мощность электроэнергии сети напряжением 110/10 кВт 22,25 мВт <br>Мощность по газу 3 000 м3/час <br>Водоснабжение 183,91 м3/час <br>Водоотведение хозяйственно-бытовое 183,91 м3/час 
                        h3 Налоговые льготы:
                        p Транспортный налог – 0 руб.<br>Земельный налог – 0%<br>Налог на имущество – 0% <br> Налог на прибыль – 15,5% 
                        h3 Трудовые ресурсы:
                        p Смоленск — население 331 тыс. человек<br>Крупные города на расстоянии 350 км. – Минск, Калуга, Брянск, Тверь <br> До г. Москвы – 370 км.
                        p Отлично развита социальная инфраструктура. В 1 км от индустриального парка расположены жилые кварталы, гостиницы, столовые, кафе, конференц-залы.
                        h3 Инфраструктура:
                        p Электроснабжение:<br>Запланировано строительство электроподстанции мощностью 22 мВт.
                        p Газоснабжение:<br>на сегодняшний день газоснабжение индустриального парка осуществляется в объеме достаточном для ведения инвесторами строительства. Построена сеть газопровода среднего давления.
                        p Водоснабжение и водоотведение:<br> в 2017 году планируется запустить в эксплуатацию отдельный водозабор с собственными водоочистными сооружениями.
                        p Автодороги:<br> автомобильные дороги IV категории.
                        p Телекоммуникации:<br> <br>Предоставлен выбор поставщиков услуг связи.  <br>Финансовые меры поддержки резидентов индустриального парка <br>— Арендная плата за земельный участок на период строительства составляет 0,01 руб. за 1 га. <br>— Плата за технологическое присоединение к инженерным сетям индустриального парка составляет 0 руб. 
                        p Специальные предложения:<br> <br>- предлагаются кредитные продукты банков, для резидентов индустриальных парков («Сбербанк», «Внешэкономбанк», МСП-Банк): <br>— с увеличенными сроками кредитования, <br>— пониженной процентной ставкой <br>— дополнительные выгодные условия. <br>— участие в программах Ассоциации индустриальных парков России по поиску партнеров и взаимодействию с ними. <br>— предоставление кредитных гарантий резидентам индустриальных парков (АО «Корпорация малого и среднего предпринимательства»). 
                        h3 Контакты:
                        p Управляющая компания индустриального парка «Феникс»: ООО «Корпорация инвестиционного развития Смоленской области»
                        p 
                            <b>web-cайт:</b> <a href="#">corp.smolinvest.com</a><br>
                            <b>эл. почта:</b> <a href="#">smolregion67@yandex.ru</a><br>
                        p
                            <b>Адрес офиса:</b> г. Смоленск, ул. Полтавская, д.8а (здание БТИ, 4 этаж)<br>
                            <b>Тел./ факс:</b> Тел./ факс: +7 (4812) 77-00-28, 8-920-300-25-28<br>
                        p
                            <b>Департамент инвестиционного развития Смоленской области, отдел развития индустриальных парков</b>
                        p
                            <b>Тел./ факс:</b> +7 (4812) 77-00-27<br>


                                                                                                         
                         
             
        include include/footer.jade
                    


                        