doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/industrial.jpg)")
            .content
                .middle
                    h1 Индустриальный парк Сафоново
                    a.button-preza скачать перезтацию
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block10.jpg)")
                        .middle
                            h2 Индустриальный парк Сафоново
                    article
                        p <b>Инициатор проекта:</b> Администрация Смоленской области.<br> <b>Назначение проекта:</b> размещение предприятий различной отраслевой направленности<br> <b>Расположение:</b> южная часть города Сафоново, Смоленская область.<br> <b>Категория земель:</b> земли промышленности и земли населенных пунктов.<br> <b>Присвоение статуса «Индустриальный парк»</b> - 5 ноября 2015 года<br> <b>Начало строительства индустриального парка</b> - 3 квартал 2015 года<br> <b>Размещение первых резидентов</b> – 4 квартал 2016 года<br> <b>Общая площадь индустриального парка</b> – 58 га (первая очередь) и 72 га (вторая очередь)<br> <b>Свободно для размещения инвесторов</b> – 30 га (первая очередь) и 50 га (вторая очередь)<br> <b>Выделено под коридоры коммуникаций</b> – 28 га (первая очередь) и 22 (вторая очередь)
                        
                        p <b>100 км</b> до центра г. Смоленска</b><br> <b>270 км</b> до Москвы<br> <b>7 км</b> — трасса М-1 «Беларусь»<br> <b>112 км</b> — аэропорт «Смоленск-Южный»<br> <b>6 км</b> — от ж/д станции «г. Сафоново»
                    article
                        h3 Логистическая инфраструктура
                        p Смоленская область обладает уникальным географическим положением. Через регион проходят: транспортные коридоры Восток-Запад (кратчайший путь из Европы в Россию) и Север-Юг, включающие железнодорожные и автомагистрали. Через Смоленскую область проходит 75% грузов, поступающих из Европы в Россию.
                        p Приграничное расположение с Республикой Беларусь и наличие таможенно-логистического комплекса с наличием акцизного терминала и возможностью оформления товаров, подлежащи фитосанитарному и ветеринарному контролю Автомагистраль Китай-Казахстан-Беларусь-Европа.
                        h3 Инженерные мощности на период строительства:
                        p Мощность по газу 290 м3/час <br>Водоснабжение 685 м3/час <br>Водоотведение хозяйственно-бытовое 685 м3/час 
                        h3 После ввода объектов в эксплуатацию, Парк будет обладать: 
                        p Мощность электроэнергии сети напряжением 110/10 кВт 26 мВт <br>Мощность по газу 9 000 м3/час <br>Водоснабжение 685 м3/час <br>Водоотведение хозяйственно-бытовое 685 м3/час
                        h3 Налоговые льготы:
                        p Транспортный налог – 0 руб. <br>Земельный налог – 0% <br>Налог на имущество – 0% <br>Налог на прибыль – 15,5% 
                        h3 Трудовые ресурсы:
                        p В радиусе 50 км от г. Сафоново находятся 4 населенных пункта, включая г. Сафоново, с населением от 10 до 50 тыс. человек, а так же населенные пункты меньшего размера.
                        p Г. Смоленск — население 331 тыс. человек Крупные города на расстоянии 350 км. – Минск, Калуга, Брянск, Тверь
                        p До г. Москвы – 270 км.
                        p Отлично развита социальная инфраструктура. В 1 км от индустриального парка расположены жилые кварталы, гостиницы, столовые, кафе, конференц-залы.
                        h3 Инфраструктура:
                        p Электроснабжение:<br> запланировано строительство электроподстанции мощностью 26 мВт.
                        p Газоснабжение:<br> на сегодняшний день газоснабжение индустриального парка осуществляется в объеме достаточном для ведения инвесторами строительства.
                        p Водоснабжение и водоотведение:<br> водоснабжение - существующие наружные внеплощадочные (городские) сети; водоотведение - существующие наружные городские сети.
                        p Автодороги:<br> автомобильные дороги III категории.
                        p Телекоммуникации:<br> Предоставлен выбор поставщиков услуг. 
                        p Финансовые меры поддержки резидентов индустриального парка<br> - Арендная плата за земельный участок на период строительства составляет 0,01 руб. за 1 га.<br><br> - Плата за технологическое присоединение к инженерным сетям индустриального парка составляет 0 руб. 
                        p Специальные предложения: <br>предлагаются кредитные продукты банков, для резидентов индустриальных парков («Сбербанк», «Внешэкономбанк», МСП-Банк): <br>— с увеличенными сроками кредитования, <br>— пониженной процентной ставкой <br>— дополнительные выгодные условия. <br>— участие в программах Ассоциации индустриальных парков России по поиску партнеров и взаимодействию с ними. <br>— предоставление кредитных гарантий резидентам индустриальных парков (АО «Корпорация малого и среднего предпринимательства»).
                        h3 Контакты:
                        p По вопросам размещения резидентов необходимо обращаться  в Управляющую компанию индустриального парка «Сафоново»: ООО «Индустриальный парк Сафоново»

                        p 
                            <b>web-cайт:</b> <a href="#">technopark67.ru</a><br>
                            <b>эл. почта:</b> <a href="#">info@technopark67.ru</a><br>
                        p
                            <b>Адрес офиса:</b> Смоленская область, г. Сафоново, ул. Октябрьская, д. 39, корпус 1.<br>
                            <b>Тел./ факс:</b> Тел./ факс: 8-910-725-72-93, 8-903-893-99-68 <br>
                        p
                            <b>Департамент инвестиционного развития Смоленской области, отдел развития индустриальных парков</b>
                        p
                            <b>Тел./ факс:</b> +7 (4812) 77-00-27<br>
                                                                                                         
                         
             
        include include/footer.jade
                    


                        