doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/company.jpg)")
            .content
                .middle
                    h1 Создание компании
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block16.jpg)")
                        .middle
                            h2 Создание компании
                    article
                        p <b>источник:</b> https://www.nalog.ru/rn67/related_activities/registration_ip_yl/reg_yl/order/)<br> В соответствии с ГК РФ юридическое лицо считается созданным с момента  его государственной регистрации.
                        h3 Регистрация компании
                        p <b>1. Формируем пакет</b><br> документов Перечень документов для государственной регистрации юридического лица установлен в ст. 12 Федерального закона от 08.08.2001 № 129-ФЗ  «О государственной регистрации юридических лиц и индивидуальных  предпринимателей».
                        p <b>2. Определяем, в какой налоговый орган подать документы</b><br> Адресом регистрации юридического лица считается тот адрес, по которому находится его «постоянно действующий исполнительный орган компании». Может быть, и адрес арендованного помещения. Узнать адрес, реквизиты налогового органа можно с помощью сервиса «Адрес и платежные реквизиты Вашей инспекции»
                        p <b>3. Представляем документы</b> Документы могут быть переданы в налоговую инспекцию любым удобным  для вас способом:<br> - лично или посредством МФЦ;<br> - по почте с объявленной ценностью и описью вложения, с помощью  интернет-сервиса непосредственно на сайте ФНС.
                        p <b>Порядок  подготовки документов</b> <br>Для регистрации вам потребуются следующие документы: <br>- заявление о государственной регистрации юридического лица при создании (форма № Р11001); <br>- решение о создании, оформленное решением единственного учредителя или протоколом общего собрания учредителей; <br>- учредительные документы юридического лица. Представляется в двух  подлинных экземплярах в случае представления лично или по почте и  в одном экземпляре – при направлении в электронном виде <br>- квитанция об уплате государственной пошлины <br>- документ, подтверждающий статус учредителя, если им выступает  иностранное юридическое лицо.

                    
                                                                                                         
                         
             
        include include/footer.jade
                    


                        