doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/vid-na.jpg)")
            .content
                .middle
                    h1 Получение вида на жительство
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block15.jpg)")
                        .middle
                            h2 Получение вида на жительство
                    article
                        p https://гувм.мвд.рф/gosuslugi/item/12897/
                        h3 Регистрация компании
                        p Вид на жительство выдается иностранному гражданину на пять лет. Данный срок может быть продлен на пять лет (заявление не позднее, чем за 2 мес.  до истечения). Количество продлений срока действия вида на жительство  не ограничено.
                        p Для получения вида на жительство иностранный гражданин, а также гражданин Республики Беларусь подают в территориальный орган ФМС России
                        p 1. Заявление о выдаче вида на жительство в двух экземплярах.
                        p 2. 4 личные фотографии, размером 35 x 45 мм в черно-белом или цветном исполнении с четким изображением лица анфас без головного убора. Лица без гражданства предоставляют 2 фотографии.
                        p 3. Документ, удостоверяющий личность.
                        p 4. Документ, подтверждающий наличие законного источника средств  к существованию, позволяющего содержать себя в Российской Федерации  в пределах прожиточного минимума, или документ, подтверждающий  его нетрудоспособность (справку о доходах физического лица, справку с места работы, пенсионное удостоверение, подтверждение о получении алиментов, справку о доходах лица, на иждивении которого находится заявитель, патент  с документом, подтверждающим уплату налога на доходы физических лиц  в виде фиксированного авансового платежа в порядке, установленном  законодательством Российской Федерации о налогах и сборах, иной документ,  подтверждающий получение доходов от не запрещенной законом деятельности или нетрудоспособность).
                        p 5. Документ, подтверждающий наличие жилого помещения на основаниях, предусмотренных законодательством Российской Федерации, если сведения. Данный документ предоставляется по истечении 3 лет со дня въезда на территорию РФ.
                        p 6. Документ, выданный полномочным учреждением здравоохранения Российской Федерации, подтверждающий отсутствие заболевания  наркоманией и инфекционных заболеваний, которые представляют опасность для окружающих, предусмотренных перечнем инфекционных заболеваний, представляющих опасность для окружающих и являющихся основанием  для отказа в выдаче либо аннулирования разрешения на временное  проживание иностранным гражданам и лицам без гражданства, или вида  на жительство, или разрешения на работу в Российской Федерации,  утвержденным постановлением Правительства Российской Федерации  от 2 апреля 2003 г. № 188.

                    
                                                                                                         
                         
             
        include include/footer.jade
                    


                        