doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/razresh.jpg)")
            .content
                .middle
                    h1 Разрешения на временное проживание 
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block11.jpg)")
                        .middle
                            h2 Разрешения на временное проживание 
                    article
                        p https://гувм.мвд.рф/gosuslugi/item/12896/
                        h3 Регистрация компании
                        p <b>Общие положения</b><br> Срок действия разрешения на временное проживание составляет три года, продление разрешения на временное проживание законодательством Российской Федерации не предусмотрено.
                        p Институт временного проживания рассматривается законодателем как этап  к получению иностранным гражданином статуса постоянно проживающего  в Российской Федерации.
                        p Для отдельных категорий иностранных граждан в соответствии с международными договорами установлена возможность, минуя стадию получения разрешения на временное проживание, обратиться с заявлением о выдаче вида на жительство. К таким иностранным гражданам относятся граждане Республики Беларусь, а также граждане Туркменистана и лица без гражданства, переселяющиеся из Туркменистана в Российскую Федерацию в соответствии с Соглашением между Российской Федерацией и Туркменистаном о регулировании процесса переселения и защите прав переселенцев и имеющие в собственности на территории Российской Федерации жилое помещение. Также, без получения разрешения на временное проживание, вид на жительство может быть выдан прибывшим в Российскую Федерацию высококвалифицированным специалистам и членам их семей.
                        p В соответствии со статьей 2 Федерального закона к иностранным гражданам, прибывшим в Российскую Федерацию в порядке, не требующем получения визы, не относятся иностранные граждане, прибывшие в Российскую Федерацию без визы в порядке, установленном для отдельных категорий иностранных граждан (в том числе владельцев дипломатических или служебных (официальных) паспортов, пассажиров круизных судов, членов экипажей морских или речных судов либо иных транспортных средств, лиц, совершающих транзитный проезд через территорию Российской Федерации, жителей приграничных территорий), а также иностранные граждане, прибывшие в Российскую Федерацию без визы в порядке, установленном в специальных целях, включая торговлю и хозяйственную деятельность на приграничных территориях, туризм, строительство.
                        p Порядок выдачи разрешения на временное проживание установлен Федеральным законом и Административным регламентом предоставления Федеральной миграционной службой государственной услуги по выдаче иностранным гражданам и лицам без гражданства разрешения на временное проживание, утвержденным приказом ФМС России от 22 апреля 2013 г. № 214.
             
        include include/footer.jade
                    


                        