doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/obrazov.jpg)")
            .content
                .middle
                    h1 Образование
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block13.jpg)")
                        .middle
                            h2 Образование
                    article
                        h3 Дошкольное образование
                    .table-ons.non-line
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title <span class="big">379</span>
                                        .title-desc учреждений
                        
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title  <span class="big">35,3</span> <span class="min">тыс</span>
                                        .title-desc человек
                    article                   
                        h3 Школьное образование
                    .table-ons.non-line
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title <span class="big">403</span>
                                        .title-desc учреждений
                        
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title  <span class="big">80,8</span> <span class="min">тыс</span>
                                        .title-desc человек
                                        
                    article                   
                        h3 Высшее образование
                    .table-ons.non-line
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title <span class="big">32</span>
                                        .title-desc учреждений
                        
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title  <span class="big">128</span>
                                        .title-desc специальностей
                                                                                                         
                    article                   
                        h3 Дополнительное образование
                    .table-ons.non-line
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title <span class="big">66</span>
                                        .title-desc учреждений
                        
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title  <span class="big">53,0</span> <span class="min">тыс</span>
                                        .title-desc человек
                    article
                                                                                                         
                         
             
        include include/footer.jade
                    


                        