doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/zdrav.jpg)")
            .content
                .middle
                    h1 Здравоохранение
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block12.jpg)")
                        .middle
                            h2 Здравоохранение
                    article
                        p <b>73 областных</b> государственных учреждения здравоохранения
                        h3 Крупные
                        p — Областная клиническая больница <br>— Областная детская клиническая больница <br>— Госпиталь ветеранов войн <br>— Больница скорой медицинской помощи <br>— Перинатальный центр <br>— Центр по профилактике и борьбе со СПИДом и инфекционными заболеваниями <br>— Центр крови <br>— Институт патологии <br>— Федеральный центр травматологии, ортопедии и эндопротезирования
                    
                                                                                                         
                         
             
        include include/footer.jade
                    


                        