doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/razvitie.jpg)")
            .content
                .middle
                    h1 Основные направления развития  
                    a.button-preza(href="#" download) скачать перезтацию
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block14.jpg)")
                        .middle
                            h2 Основные направления развития  
                    article
                        p — Текстильное и швейное производство <br>— Химическое производство <br>— Пищевая промышленность <br>— Логистические услуги
                        p <b>14 складов</b> временного хранения таможенно-логистических терминалов
                        
                    article
                        h3 Деревообработка
                        p Возможность увеличения заготовки древесины в <b>3 раза</b>
                        
                    article 
                        h3 Машиностроительный комплекс
                        
                    .table-ons.non-line
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title <span class="big">>200</span>
                                        .title-desc предприятий
                        
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title  <span class="big">>35 000 </span>
                                        .title-desc рабочих мест
                    article
                        h3 Разработка месторождений торфа и цементного угля 
                        p <b>25% от</b> суммарного объема добычи песчано-гравийного материала на территории ЦФО  
                    article
                        h3 Сельское хозяйство
                        p >1,7 млн. га земель с/х назначения развивающееся животноводство и растениеводство 
                    article
                        h3 Туризм
                        p >1,7 млн. га земель с/х назначения развивающееся животноводство и растениеводство
                        
                    
                                                                                                         
                         
             
        include include/footer.jade
                    


                        