doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background:url(img/dorogi.jpg)")
            .content
                .middle
                    h1 Транспорт и логистика
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block9.jpg)")
                        .middle
                            h2 Транспорт и логистика
                    article
                        p <b>Кратчайший путь из Центральной России в Западную Европу</b> (расстояние от Смоленска до Берлина – 1470 км)
                    .table-ons.non-line
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title <span class="big">177,5</span>, <span class="min">млн. т-км</span>
                                        .title-desc Грузооборот
                        
                    
                        .one.min-bot
                            .one-block
                                .middle
                                    div.title  <span class="big">55,8</span>, <span class="min">млн. пасс.-км</span>
                                        .title-desc Пассажирооборот
                    article
                        h2 Основные транспортные магистрали
                                        
                    .table-ons.non-line
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title <span class="big">14364</span> <span class="min">км</span>
                                        .title-desc Протяжённость <br>автомобильных дорог
                                            
                        .one
                            .one-block
                                .middle
                                    div.title <span class="big">1259</span> <span class="min">км</span>
                                        .title-desc Длина железных <br>дорог общего пользования
                    article
                        h3 Крупные ж/д узлы
                        p Сеть железнодорожных работ дорог – 21,7 км на 1000 км2
                        .gerb-block
                            .gerb
                                img(src="img/smolensk.png")
                                span.title Смоленск
                            .gerb
                                img(src="img/vyasm.png")
                                span.title  Вязьма         
                            .gerb
                                img(src="img/rosl.png")
                                span.title Рославль
                    article.art-non-top 
                        h3 Транспортные коридоры
                    .table-ons.non-line
                    
                        .one.min-bot
                            .one-block.non-desc
                                .middle
                                    div.title Север-Юг 
                    article.art-non-top
                        p А-141 «Орёл-Рудня» <br>БТС – II Балтийская трубопроводная система <br>ж/д магистраль  <br>Платная автомагистраль Шанхай – Гамбург (планируемый ввод в эксплуатацию – 2019г. Пройдет через Смоленскую область <br>
                    article.art-non-top    
                        h2 Вокзалы
                        .display-image-block
                            .image-block.image-block-2(style="background: url(img/jd.jpg)")
                                .image-txt-block.min-bot
                                    .title-desk Железнодорожный вокзал <br>Смоленск <br> <i>пл. Вокзальная, д. 1</i>
                                    
                            .image-block.image-block-2(style="background: url(img/avto.jpg)")
                                .image-txt-block.min-bot
                                    .title-desk Автовокзал <br><br> <i>ул. Кашена, д.13</i>



                        
        include include/footer.jade
    
                    


                        