doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/monogorod.jpg)")
            .content
                .middle
                    h1 Моногород
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block22.jpg)")
                        .middle
                            h2 Моногород
                    article
                        h3 Моногород Дорогобуж 
                        p Город Дорогобуж является административным центром Дорогобужского района Смоленской области.
                        p Администрацией Смоленской области до 2017 года будут реализованы следующие мероприятия:
                        p Включение города Дорогобужа в перечень моногородов первой категории
                        p Создание в городе Дорогобуже территории опережающего социально-экономического развития
                        p Подача заявки в Фонд развития моногородов (ФРМ) на оказание поддержки
                        p <b>(При поддержке федеральных органов исполнительной власти, Аппарата Правительства Российской Федерации, Администрации Президента Российской Федерации и Внешэкономбанка) </b>
                        p <a href="#">Скачать презентацию</a>

                         
             
        include include/footer.jade
                    


                        