doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background:url(img/home-n.jpg)")
            .content
                .middle
                    h1 Население
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block3.jpg)")
                        .middle
                            h2 Климат Смоленска и области
                    article
                        p Численность населения Смоленской области на 1 января 2015 года составляет 964 791 чел
                    .table-ons.non-line
                    
                        .one
                            .one-block
                                .middle
                                    div.title 959 088 
                                        .title-desc Численность <br>населения области
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title  <span class="big">328 906</span>
                                        .title-desc Численность <br>населения г. Смоленска
                                        
                    .table-ons.non-line
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title 72%
                                        .title-desc Городское <br>нселение
                                            
                        .one
                            .one-block
                                .middle
                                    div.title 19,4 <span class="min">чел/км2<span>
                                        .title-desc Плотность <br>населения региона
                    article
                        p Самый большой город в Смоленской области по населению - Смоленск (330 049 чел.), далее Вязьма (54 269 чел.) и Рославль (51 775 чел.).
                        h3 Национальный состав
                        p Смоленская область по национальному составу практически мононациональна:
                        p <b>Русские 893,7 тыс.</b> человек 94,6% <br> <b>Украинцы 12,2 тыс.</b> человек 1,3% <br> <b>Белорусы 12,0 тыс.</b> человек 1,3% <br> <b>Армяне 4,8 тыс.</b> человек 0,5% <br><br> Представители иных национальностей по данным переписи 2010 года составили в сумме 21,4 тысячи человек.




                        
        include include/footer.jade
    
                    


                        