doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.bgTC.administraiton--home--image(style="background: url(img/sel-hose.jpg)")
            .content
                .middle
                    h1 Сельское хозяйство 
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block19.jpg)")
                        .middle
                            h2 Сельское хозяйство 
                    article
                        p Агропромышленный комплекс Смоленской области и его базовая отрасль – сельское хозяйство – являются ведущими системообразующими сферами экономики региона, формирующими агропродовольственный рынок, продовольственную и экономическую безопасность, трудовой и поселенческий потенциал сельских территорий.
    
                        p <b>В валовом региональном продукте доля АПК составляет 7 процентов.</b>
                        p <b>более 1,7 млн. гектар (1,3 млн. гектар всей площади)</b> <br>сельскохозяйственных угодий
                        
                        p ведущая отрасль – молочно-мясное животноводство (55% стоимости продукции отрасли) <b>2647,5 млн. рублей</b>
                        
                        p Производство 1й квартал 2016г.: скот и птица на убой - <b>13885,5 тонн,</b> молоко - <b>38171,4 тонн,</b> яйца - <b>28623,7 тыс. штук</b>
                        
                        p Поголовье КРС - <b>102432,0 голов,</b> в т.ч. коров - <b>49033,0</b>
                        
                    .table-ons.non-line
                    
                        .one
                            .one-block
                                .middle
                                    div.title <span class="big">280</span>
                                        .title-desc сельскохозяйственных<br> организаций
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title  <span class="big">200</span>
                                        .title-desc крестьянско-фермерских<br> хозяйств и ИП                   
                    .table-ons.non-line
                    
                        .one
                            .one-block
                                .middle
                                    div.title <span class="big">178</span> <span class="min"></span>
                                        .title-desc ведущих личное <br>подсобное хозяйство
                    article
                        h3 Приоритетные направления аграрной политики
                            p Создание стабильных условий для ведения аграрного бизнеса, в том числе повышения конкурентоспособности сельхоз продукции, и возможности её реализации.
                            p Создание благоприятных условий для привлечения  в аграрный сектор региона инвестиций за счет формирования инвестиционных площадок.
                            p Обеспечение финансовой устойчивости товаропроизводителей агропромышленного комплекса
                            p Комплексное развитие сельских территорий.


                    
                                                                                                         
                         
             
        include include/footer.jade