doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/soc-ek.jpg)")
            .content
                .middle
                    h1 Социально-экономические показатели
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block18.jpg)")
                        .middle
                            h2 Занятость населения
                    article
                        p Уровень зарегистрированной безработицы <b>6,7</b> <br>Численность официально зарегистрированных безработных <b>8,1 млн. человек</b> <br>Среднесписочная численность, работающих в организациях <b>301,1 тыс. челове</b> <br>
                        h3 Заработная плата
                        p Среднемесячная заработная плата <b>23526,8 рублей</b> (12 место среди регионов ЦФО, увеличение реальной з/п по сравнению с 2012 г. на 6%)
                        p Реальные денежные доходы увеличились <b>на 29%</b> (на 03.2016г)
                        h3 Основные экономические показатели
                        p — Валовый региональный продукт <b>268,5 млрд. рублей</b> <br>— Инвестиции в основной капитал <b>60 млрд. рублей</b>  <br>— Удельный вес прибыльных предприятий <b>68,4%</b> <br>— Оборот розничной торговли составляет <b>12240,0 млн. рублей</b> <br>— Объём платных услуг населению составляет <b>2647,5 млн. рублей</b>
                        h3 Рынок недвижимости
                        p <b>Стоимость 1 м2:</b> <br>— вторичный рынок – <b>46077 рублей</b> <br>— новостройки – <b>44077 рублей.</b>
                        p <b>Аренда (в месяц):</b> <br>— однокомнатные – <b>10863 рублей</b> <br>— двухкомнатные – <b>12789 рублей</b>
                        h3 Стоимость жизни
                        p Стоимость потребительской корзины <b>3734,9</b> (на 03.2016г) <br>Денежные доходы на душу населения <b>22698,7 рублей</b>


                    
                                                                                                         
                         
             
        include include/footer.jade