doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background:url(img/turism.jpg)")
            .content
                .middle
                    h1 Туристический потенциал
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block10.jpg)")
                        .middle
                            h2 Туристический потенциал
                    article
                    .table-ons.non-line
                    
                        .one
                            .one-block
                                .middle
                                    div.title <span class="big">60</span>
                                        .title-desc Музеев
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title  <span class="big">328 906</span>
                                        .title-desc объектов <br>культурного наследия
                                        
                    .table-ons.non-line
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title   <span class="big">1750</span>
                                        .title-desc объектов <br>археологического наследия
                                                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title   <span class="big">114</span>
                                        .title-desc туроператоры, <br> турагенты 
                                        
                    article
                        h3 Приоритетные направления
                        p — Культурно-познавательный и событийный<br> — Рекреационный<br> — Религиозный и паломнический<br> — Сельский и экологический<br> — Лечебно-оздоровительный 
                        h3 Особо охраняемые природные территории
                        p — Национальный парк «Смоленское Поозерье»<br> — Природный парк «Гагаринский»

                        h3 Культурно-познавательный туризм
                        p Старейший и основной вид туризма в Смоленской области, развивающийся благодаря богатому и разнообразному историко-культурному наследию.

                        h3 Событийный туризм
                        p Событийный туризм представлен яркими и зрелищными мероприятиями, привлекающими туристов в Смоленскую область:
                        
                        p — Первенство России по автомобильному кроссу и «Славянский Кубок» на автополигоне «CAR_dымово» (Кардымовский район)<br>
                        p — Международный фестиваль исторической реконструкции и славянской культуры «Гнездово» (г. Смоленск)<br>
                        p — Международный туристский фестиваль «Соловьева переправа» (Кардымовский район)<br>
                        p — Военно—исторический фестиваль «Реконструкция Смоленского сражения при Лубино 1812» (Кардымовский район)<br>
                        p — Туристская ярмарка «Праздник Вяземского пряника» (Вяземский район)<br>
                        p — Областной фестиваль «Его Величество Огурец!» (Демидовский район)<br>
                        p — Фольклорный праздник «Обряды русской старины» (Демидовском районе)<br>
                        
                        h3 Религиозный туризм и паломничество
                        p <b>Главные центры:</b> Смоленск, Вязьма, Болдино
                        
                        p <b>Основные объекты паломничества:</b> <br> <br> Свято—Успенский кафедральный собор (1677 г.) г. Смоленск <br> <br> Свято—Троицкий Герасимо—Болдинский монастырь (1530 г.) Дорогобужский район <br> <br> Церковь Михаила Архангела (Свирская) (1180—1197 гг.) <br> <br> Церковь Одигитрии Иоанно—Предтеченского монастыря (1638 г.) г. Вязьма
                        
                        h3 Сельский и экологический туризм 
                        p Велиж <br> Пржевальское <br> Демидов  <br> Рудня <br> Сычевка  <br> Гагарин <br> Угра
                        
                    article
                        h3 Национальный парк «Смоленское поозерье»
                        p — 35 уникальных озер ледникового происхождения <br> — разветвленная сеть пеших, водных, велосипедных туристских маршрутов и экологических троп <br> — десятки стоянок и мест отдыха <br> — многочисленные базы отдыха, развивающаяся сеть гостевых домов
                        
                        h3 Природный парк «Гагаринский»
                        p — близость к Московскому региону <br> — реализация крупного инвестиционного проекта «Создание инфраструктуры туристского кластера Vazuza&Yauza Park на территории Гагаринского района 
                        
                        h3 Угранское поречье
                        
                        p Река Угра – один из самых популярных в Центральной России районов водного и рекреационного туризма.



                        



                                            

                        
        include include/footer.jade
    
                    


                        