doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.ad-title-block
            .content
                h1 Истории успеха
        
        section.administraiton--home--section.ad-full-w
            .content
                .ad-full-w__float-content-block.hysory-us
                
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
                             
                    a.ad-full-w__hysory-us_item
                        .ad-full-w__hysory-us_img-block(style="background:url(img/uspex.jpg)")
                            .phbg
                            .ab-tab
                                .middle
                                    .reed подробнее
                        h3 ООО «Оптимальная тепловая энергетика»
             
                
                                
                                

                        
        include include/footer.jade
        script( src="js/jquery.equalheights.js")
        script $('a.ad-full-w__hysory-us_item').equalHeights();