doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.bgTC.administraiton--home--image(style="background: url(img/vn-torg.jpg)")
            .content
                .middle
                    h1 Внешняя торговля
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block20.jpg)")
                        .middle
                            h2 Внешняя торговля
                    article
                    .table-ons.non-line
                    
                        .one
                            .one-block
                                .middle
                                    div.title <span class="big">122 835,0</span><span class="min"> $</span>
                                        .title-desc Импорт                   
                        .one
                            .one-block
                                .middle
                                    div.title <span class="big">89 305,1 </span><span class="min"> $</span>
                                        .title-desc Экспорт
                                        
                    .table-lines
                        .line
                            .one-block.one-block-big
                                span <b>Наименование товара</b>
                            .one-block
                                span <b>Экспорт, тыс.дол.</b>
                            .one-block
                                span <b>Импорт,тыс.дол.</b> 
                        .line.green
                            .one-block.one-block-big
                                span Продовольственные товары и сырье
                            .one-block
                                span.export 6 531,4
                            .one-block
                                span.import 28 135,7
                        .line
                            .one-block.one-block-big
                                span Минеральные продукты
                            .one-block
                                span.export 6 531,4
                            .one-block
                                span.import 28 135,7     
                        .line.green
                            .one-block.one-block-big
                                span Топливно-энергетические товары
                            .one-block
                                span.export 307,1
                            .one-block
                                span.import 1 489,8
                        .line
                            .one-block.one-block-big
                                span Продукция химической промышленности, каучук
                            .one-block
                                span 37 114,2
                            .one-block
                                span.import 20 657,9
                        .line.green
                            .one-block.one-block-big
                                span Кожевенное сырье, пушнина и изделия
                            .one-block
                                span.export 681,2
                            .one-block
                                span.import 311,6
                        .line
                            .one-block.one-block-big
                                span Древесина и целлюлозно-бумажные изделия
                            .one-block
                                span.export 4 823,7
                            .one-block
                                span.import 6 868,1    
                        .line.green
                            .one-block.one-block-big
                                span Текстиль, текстильные изделия и обувь
                            .one-block
                                span.export 1 275,2
                            .one-block
                                span.import 3 159,3   
                        .line.green
                            .one-block.one-block-big
                                span Металлы и изделия из них
                            .one-block
                                span.export 2 412,3
                            .one-block
                                span.import 4 104,4
                        .line
                            .one-block.one-block-big
                                span Машиностроительная продукция
                            .one-block
                                span.export 9 813,1
                            .one-block
                                span.import 43 379,7   
                        .line.green
                            .one-block.one-block-big
                                span Прочие товары
                            .one-block
                                span.export 25 557,8
                            .one-block
                                span.import 14 463,4

                    
                                                                                                         
                         
             
        include include/footer.jade